venv/
.env
test_qnli.ipynb
notes.ipynb
ΠΡΟΤΑΣΗ ΕΡΕΥΝΑΣ ΣΕ NLI ΚΑΙ LLMs.pdf
__pycache__/
requirements.txt
explainability.ipynb
Datasets
settings.json
.DS_Store
Benchmarking LLMs on Natural Language Inferencing.docx
Benchmarking LLMs on Natural Language Inferencing_v1.docx
Benchmarking LLMs on Natural Language Inferencing_v2.docx
Examining Causal Inference and the Impact of Prompts on Natural Language Inferencing.docx
utils_unused.py